<% if (results.length===0) { %>
    <h5>please add a restaurant</h5>
    <% } else { %>
        <h5>
            <%= currentUser %>'s Restaurants
        </h5>
        <div style="text-align:center; padding-bottom: 20px;">
            <a style="font-size: small; color: black" href="/search/results">back to list of restaurants</a>
        </div>
        <% results.forEach(result=> { %>
            <div class="row">
                <div class="card" style="width: 25rem;">
                    <div class="card-body" style="display: inline-flex">
                        <h6 style="display: flex; width: 100%">
                            <%= result.name %>
                        </h6>
                        <div style="display: flex; justify-content: flex-end">
                            <form action="/profile/<%= result.name %>/?_method=DELETE" method="POST">
                                <button style="padding-right: 5px" id="btn" type="submit"><i
                                        class="bi bi-trash"></i></button>
                            </form>
                            <form action="/review/<%= result.id %>" method="GET">
                                <button id="btn" type="submit"><i class="bi bi-pen"></i></button>
                            </form>
                        </div>
                    </div>
                    <h6 style="padding: 16px">
                        <%= result.review %>
                    </h6>
                </div>
            </div>
            <%})%>
                <%}%>