<h5>save and leave a comment</h5>

<%results.data.forEach(function(result) {%>
    <form action="/profile/<%= result.restaurant_name %>" method="POST" >
        <input hidden type="text" name="restaurantId" value="<%= result.restaurant_id %>">

<div class="row">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h6 class="card-title"><%=result.restaurant_name%>
                    <button id="btn" type="submit"><i class="fas fa-archive"></i></button>
                </h6>
                    <h6 class="card-subtitle mb-2 text-muted"><%=result.price_range%></h6>
                        <li><%=result.restaurant_phone%></li>
                        <li> hours: <%=result.hours%></li>  
                        <li> location: <%=result.address.formatted%></li>
            </div>
        </div>
    </div>


   
    </form>
    <%})%>
    
     <a href="/results">view my restaurants</a>