<h5>Rate and leave a comment? Save it to your profile</h5>

<%results.data.forEach(function(result) {%>
        <form action="/profile/<%= result.restaurant_name %>" method="POST" >
        <%=result.restaurant_name%><button type="submit">save restaurant</button>
        </form>
            <ul> price range: <%=result.price_range%></ul>
            <ul> phone number: <%=result.restaurant_phone%></ul>
            <ul> hours: <%=result.hours%></ul>
            <ul> location: <%=result.address.formatted%></ul>       
        <%})%>

<a href="/profile">view my restaurants</a>