<h5>Rate and leave a comment? Save it to your profile</h5>

<div class="container-sm text-center bg-success bg-opacity-75 text-white">
<%results.data.forEach(function(result) {%>
    <form action="/profile/<%= result.restaurant_name %>" method="POST" >
        <input hidden type="text" name="restaurantId" value="<%= result.restaurant_id %>">
        <div id="restaurantName">
        <%=result.restaurant_name%> <i class="fas fa-leaf"></i>
        </div>
        <button type="submit">save restaurant</button>

            <ul> price range: <%=result.price_range%></ul>
            <ul> phone number: <%=result.restaurant_phone%></ul>
            <ul> hours: <%=result.hours%></ul>
            <ul> location: <%=result.address.formatted%></ul>

        </form>
        
        <%})%>
    </div>

     <a href="/profile">view my restaurants</a>