<a href="/search/<%= name %>"> name:<%= currentUser %></a>
<h3>Saved Restaurants</h3>
    <%results.forEach(result => {%>
    <p>
        <a href="/search/<%= result.name %>"> <%= result.name %></a>    
    </p>
    <form action="/profile/delete/<%= result.name %>" method="POST">
        <input type="submit" value="Delete">
    </form>
<%})%>
